In [1]:
import pandas as pd
import numpy as np

In [30]:
df_daily_flights = pd.read_csv('daily-flights.csv')

In [31]:
df_daily_flights.head()

         Date Number of flights Seven-day average Notes
0  2 Jan 2019             5,147               [x]   NaN
1  3 Jan 2019             5,518               [x]   NaN
2  4 Jan 2019             5,588               [x]   NaN
3  5 Jan 2019             4,798               [x]   NaN
4  6 Jan 2019             5,329               [x]   NaN

In [32]:
df_daily_flights_long = pd.melt(df_daily_flights, id_vars=["Date"])

In [6]:
df_daily_flights_long['geography_code'] = 'K02000001'

In [7]:
df_daily_flights_long['geography_label'] = 'United Kingdom'

In [8]:
df_daily_flights_long['period_type'] = 'day'

In [9]:
df_daily_flights_long.head()

,Date,variable,value,geography_code,geography_label,period_type
0,2 Jan 2019,Number of flights,"5,147",K02000001,United Kingdom,day
1,3 Jan 2019,Number of flights,"5,518",K02000001,United Kingdom,day
2,4 Jan 2019,Number of flights,"5,588",K02000001,United Kingdom,day
3,5 Jan 2019,Number of flights,"4,798",K02000001,United Kingdom,day
4,6 Jan 2019,Number of flights,"5,329",K02000001,United Kingdom,day

In [17]:
df_daily_flights_long['Date'] = pd.to_datetime(df_daily_flights_long['Date']).dt.strftime('%Y-%m-%d')

ValueError: time data "2019-13-01" doesn't match format "%Y-%m-%d", at position 11. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [18]:
df_daily_flights_long.head()

,Date,variable,value,geography_code,geography_label,period_type
0,2019-02-01,Number of flights,"5,147",K02000001,United Kingdom,day
1,2019-03-01,Number of flights,"5,518",K02000001,United Kingdom,day
2,2019-04-01,Number of flights,"5,588",K02000001,United Kingdom,day
3,2019-05-01,Number of flights,"4,798",K02000001,United Kingdom,day
4,2019-06-01,Number of flights,"5,329",K02000001,United Kingdom,day

In [19]:
df_daily_flights_long = df_daily_flights_long.rename(columns={"Date": "period_code","variable":"measure", "value":"observation"})

In [20]:
df_daily_flights_long['unit']= 'number'

In [21]:
df_daily_flights_long['period_label']= df_daily_flights_long['period_code']

In [27]:
df_daily_flights_long = df_daily_flights_long[["period_code","period_label","period_type","geography_code","geography_label", "observation","measure", "unit"]]

In [28]:
df_daily_flights_long.head()

,period_code,period_label,period_type,geography_code,geography_label,observation,measure,unit
0,2019-02-01,2019-02-01,day,K02000001,United Kingdom,"5,147",Number of flights,number
1,2019-03-01,2019-03-01,day,K02000001,United Kingdom,"5,518",Number of flights,number
2,2019-04-01,2019-04-01,day,K02000001,United Kingdom,"5,588",Number of flights,number
3,2019-05-01,2019-05-01,day,K02000001,United Kingdom,"4,798",Number of flights,number
4,2019-06-01,2019-06-01,day,K02000001,United Kingdom,"5,329",Number of flights,number