In [1]:
import pandas as pd
import numpy as np

In [2]:
df_gas = pd.read_csv('gas.csv')

In [3]:
df_gas.head()

,Date,SAP actual day\n(p/kWh),SAP preceding seven-day rolling average\n(p/kWh)
0,1 Jan 2018,1.708,1.847
1,2 Jan 2018,1.733,1.832
2,3 Jan 2018,1.766,1.802
3,4 Jan 2018,1.772,1.784
4,5 Jan 2018,1.760,1.761

In [4]:
df_gas_long = pd.melt(df_gas, id_vars=["Date"])

In [5]:
df_gas_long['geography_code'] = 'K03000001'

In [6]:
df_gas_long['geography_label'] = 'Great Britain'

In [7]:
df_gas_long['period_type'] = 'day'

In [8]:
df_gas_long['Date'] = pd.to_datetime(df_gas_long['Date']).dt.strftime('%Y-%m-%d')

In [9]:
df_gas_long = df_gas_long.rename(columns={"Date": "period_code","variable":"measure", "value":"observation"})

In [10]:
df_gas_long['unit']= 'p/kWh'

In [11]:
df_gas_long['period_label']= df_gas_long['period_code']

In [12]:
df_gas_long = df_gas_long[["period_code","period_label","period_type","geography_code","geography_label", "observation","measure", "unit"]]

In [13]:
df_gas_long.head()

,period_code,period_label,period_type,geography_code,geography_label,observation,measure,unit
0,2018-01-01,2018-01-01,day,K03000001,Great Britain,1.708,SAP actual day\n(p/kWh),p/kWh
1,2018-01-02,2018-01-02,day,K03000001,Great Britain,1.733,SAP actual day\n(p/kWh),p/kWh
2,2018-01-03,2018-01-03,day,K03000001,Great Britain,1.766,SAP actual day\n(p/kWh),p/kWh
3,2018-01-04,2018-01-04,day,K03000001,Great Britain,1.772,SAP actual day\n(p/kWh),p/kWh
4,2018-01-05,2018-01-05,day,K03000001,Great Britain,1.760,SAP actual day\n(p/kWh),p/kWh

In [15]:
df_gas_long['measure'] = df_gas_long['measure'].map(lambda x: x.rstrip('\n(p/kWh)'))

In [16]:
df_gas_long.head()

,period_code,period_label,period_type,geography_code,geography_label,observation,measure,unit
0,2018-01-01,2018-01-01,day,K03000001,Great Britain,1.708,SAP actual day,p/kWh
1,2018-01-02,2018-01-02,day,K03000001,Great Britain,1.733,SAP actual day,p/kWh
2,2018-01-03,2018-01-03,day,K03000001,Great Britain,1.766,SAP actual day,p/kWh
3,2018-01-04,2018-01-04,day,K03000001,Great Britain,1.772,SAP actual day,p/kWh
4,2018-01-05,2018-01-05,day,K03000001,Great Britain,1.760,SAP actual day,p/kWh